@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Kannada:wght@700&family=Urbanist:wght@900&display=swap');

body {
    margin: 0;
    background-color: #1e1c1c;
}

.navbar {
    background-color: none;
    position: fixed;
    width: 100%;
    padding: 10px 0 10px 0;
    align-items: center;
    text-align: center;
    top: 0px;
    display: block;
    margin: auto;
    z-index: 9;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    min-height: 200%;
}



.present-goal {
    margin-top: 30px;
}

#goal-heading {
    align-content: center;
    text-align: center;
    font-family: 'Noto Serif Kannada', serif;
    font-family: 'Urbanist', sans-serif;
}

#grid {
    padding-left: 30px;
    background: red !important;
}

#goal-tab {
    border-left: 3px solid #00a9fe;
}

.footer {
    background-color: black;
    width: 100%;
    height: 50px;
    bottom: 0px !important;
    margin-top: -50x;
    align-items: center;
    text-align: center;
}


#inner-hero {
    margin: 50px;
    font-family: 'Noto Serif Kannada', serif;
    font-family: 'Urbanist', sans-serif;
}

#welcome-text {
    font-size: 70pt;
    text-align: center;
    margin-top: 50px;
    font-family: 'Noto Serif Kannada', serif;
    font-family: 'Urbanist', sans-serif;
}

@media only screen and (max-width: 600px) {
    #welcome-text {
        font-size: 20pt;
    }

    h5 {
        font-size: medium;
    }
    #goal-text {
        font-size: 30px !important;
    }
}

small {
    font-size: 13px;
    color: #ffffff;
    opacity: 0.4;
}

#goal {
    margin-top: 50px;
}

#goal-text {
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Noto Serif Kannada', serif;
    font-family: 'Urbanist', sans-serif;
}

.github-holder {
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    margin: 0px auto !important;
}